*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

:root{
  --primary-hue: 210;
  --grey-hue: 240;
  --color-primary:hsl(var(--primary-hue),100%,50%);
  --color-primary-variant: hsl(var(--primary-hue),100%,65%);
  --color-secondary: #ffb116;
  --color-grey-100: hsl(var(--grey-hue),47%,94%);
  --color-grey-200: hsl(var(--grey-hue),26%,75%);
  --color-grey-300: hsl(var(--grey-hue),24%,64%);
  --color-grey-400: hsl(var(--grey-hue),16%,41%);
  --color-grey-500: hsl(var(--grey-hue),44%,25%);
  --color-grey-600: hsl(var(--grey-hue),48%,15%);

  --container-width-lg: 80%;
  --container-width-md: 90%;

  --transition: all 500ms ease;
}

/* GENERAL STYLES */

body{
  font-family: Helvetica, sans-serif;
  color: var(--color-grey-200);
  line-height: 1.7;
  overflow-x: hidden;
  background: var(--color-grey-600);
}

.container{
  width: var(--container-width-lg);
  max-width: 1920;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6{
  color: var(--color-grey-100);
  line-height: 1.2;
}

h1{
  font-size: 3rem;
}
h2{
  font-size:2rem;
}

a{
  color: var(--color-grey-100);
}

img{
  display: block;
  object-fit: cover;
  width: 100%;
  
}

.btn{
  width: fit-content;
  margin: auto 0;
  padding: 0.9rem 2rem;
  color: var(--color-grey-100);
  border-radius: 1.5rem;
  background: var(--color-primary);
  transition: var(--transition);
}

.btn:hover{
  background: var(--color-secondary);
  color: var(--color-grey-600);
}

.btn.lg{
  padding: 1.2rem 3rem;
  border-radius: 2rem;
  font-size: 1.1rem;
}

.btn.sm{
  padding: 0.4rem 1.2rem;
  font-size: 0.9rem;
}

.btn.sm:hover{
  background: var(--color-grey-100);
}




.main_header-img{
  position: relative;
}





section{
  margin: 10rem 0 0 0;
}

.section__head{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section__head span{
  background: var(--color-grey-500);
  padding: 0.8rem;
  border-radius: 1rem;
  color: var(--color-secondary);
  font-size: 1.5rem;
}


/* This is for styling the card  */

.card{
  background: var(--color-grey-500);
  border: 2px solid transparent;
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 0 3rem 0 3rem;
}

.card:hover{
  background: transparent;
  color: var(--color-grey-400);
  cursor: default;
  border: 1px solid var(--color-grey-400);
}

.card span{
  width: 3rem;
  height: 3rem;
  background: var(--color-primary);
  color: var(--color-grey-100);
  font-size: 1.5rem;
  padding: 0.8rem;
  display: grid;
  place-items: center;
  margin: 0 auto 1.5rem auto;
  border-radius: 1rem;
  transition: var(--transition);
}

.card:hover span{
  background: var(--color-secondary);
  color: var(--color-grey-600);
}

.card small{
  margin: 1rem 0 0 0;
  display: block;
  font-weight: 300;
}


/* About   */

.header{
  margin-top: 5rem;
  height: 20rem;
  overflow: hidden;
  border-bottom: 2px solid var(--color-grey-400);
}

.header_container{
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  place-items: center;
  background: black;
}

.header_container-bg{
  position: absolute;
  width: 100%;
}

.header_container-bg img{
  opacity: 0.5;
}

.header_content{
  position: relative;
  width: 44%;
  color: var(--color-grey-100);
  margin: 0 auto;
  text-align: center;
}

.header_content h2{
  margin-bottom: 1rem;
}

.header_content p{
  color: rgba(255, 255, 255, 0.7);
}
/* MEDIA QUERIES(medium screens) */

@media screen and (max-width: 1024px){

  .container{
    width: var(--container-width-md);
  }
  h1{
    font-size: 2rem;
  }
  
  h2{
    font-size: 1.6rem;
  }

  .header_content{
    width: 76%;
  }
}



/* MEDIA QUERIES(small screens) */

@media screen and (max-width: 600px) {
   h1{
    font-size: 2.2rem;
    line-height: 1.3;
   }

   section{
    margin-top: 7rem;
   }

   .header{
    width: fit-content;
   }

   .header_content{
    width: var(--container-width-md);
    padding: 3rem;
   }

   .header_content p{
    font-size: .85rem;
   }
}